@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 0;
    height: 0;
}
.logo img{
    width: 150px;
    height: 150px;
    top: 80px;
    right: 15px;
    padding-left: 700px;
    padding-top: 50px;
}
.name{
    width: 0px;
    height: 0px;
}
.name img{
    width: 130px;
    height: 120px;
    top: 80px;
    right: 15px;
    padding-left: 815px;
    padding-top: 65px;
    
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 335px;
    background: transparent;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 23px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: transparent;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check {
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-radius: 2px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 30px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
.container{
    width: 100%;
    height: 150vh;
    padding: 5%;
    background-image: url(images/cover.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 150px;
    padding-top: 30px;
}
.search-bar{
    width: 100%;
    max-width: 250px;
    background: rgba(232, 235, 231, 0.706);
    border-radius: 50px;
    padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 20px;
    font-size: 15px;
    color: #141417;
}
::placeholder{
    color: rgb(3, 3, 3);
}
.search-bar button i{
    width: 20px;
}
.search-bar button{
    border: 0;
    border-radius: 60%;
    width: 20px;
    height: 20px;
    background: #3ca917;
    cursor: pointer;
}
.title p{
    position: absolute;
    text-align: center;
    width: 70%;
    height: 35%;
    top: 15px;
    justify-content: center;
    padding-left: 470px;
    padding-top: 20px;
    font-size: 14.5px;
    color: white;
}
.laputa img{
    position: absolute;
    top: 80px;
    right: 15px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 1100px;
    padding-top: 170px;
    overflow: hidden;
}
.descripla{
    position: absolute;
    top: 82px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 1100px;
    padding-top: 510px;
    color: white;
}
.laputa:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.totoro img{
    position: absolute;
    top: 80px;
    right: 15px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 800px;
    padding-top: 170px;
    overflow: hidden;
}
.descripto{
    position: absolute;
    top: 82px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 800px;
    padding-top: 510px;
    color: white;
}
.totoro:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.spirited img{
    position: absolute;
    top: 80px;
    right: 15px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 500px;
    padding-top: 170px;
    overflow: hidden;
}
.descripspi{
    position: absolute;
    top: 82px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 500px;
    padding-top: 510px;
    color: white;
}
.spirited:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.whisper img{
    position: absolute;
    top: 80px;
    right: 15px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 200px;
    padding-top: 170px;
    overflow: hidden;
}
.descripwhi{
    position: absolute;
    top: 82px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 200px;
    padding-top: 510px;
    color: white;
}
.whisper:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.kiki img{
    position: absolute;
    top: 80px;
    left: 900px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-left: 430px;
    padding-top: 170px;
    overflow: hidden;
}
.descripki{
    position: absolute;
    top: 82px;
    left: 900px;
    width: 16%;
    height: 38%;
    padding-left: 435px;
    padding-top: 510px;
    color: white;
}
.kiki:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.howl img{
    position: absolute;
    top: 300px;
    right: 16px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 1100px;
    padding-top: 455px;
    overflow: hidden;
}
.descripho{
    position: absolute;
    top: 500px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 1100px;
    padding-top: 600px;
    color: white;
}
.howl:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.cat img{
    position: absolute;
    top: 300px;
    right: 16px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 800px;
    padding-top: 455px;
    overflow: hidden;
}
.descripca{
    position: absolute;
    top: 500px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 800px;
    padding-top: 600px;
    color: white;
}
.cat:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.mononoke img{
    position: absolute;
    top: 300px;
    right: 16px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 500px;
    padding-top: 455px;
    overflow: hidden;
}
.descripmo{
    position: absolute;
    top: 500px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 500px;
    padding-top: 600px;
    color: white;
}
.mononoke:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.wind img{
    position: absolute;
    top: 300px;
    right: 16px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-right: 200px;
    padding-top: 455px;
    overflow: hidden;
}
.descripwi{
    position: absolute;
    top: 500px;
    right: 16px;
    width: 16%;
    height: 38%;
    padding-right: 200px;
    padding-top: 600px;
    color: white;
}
.wind:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
.grave img{
    position: absolute;
    top: 300px;
    left: 900px;
    width: 17%;
    height: 43%;
    justify-content: left;
    padding-left: 430px;
    padding-top: 455px;
    overflow: hidden;
}
.descripgra{
    position: absolute;
    top: 500px;
    left: 900px;
    width: 16%;
    height: 38%;
    padding-left: 435px;
    padding-top: 600px;
    color: white;
}
.grave:hover img{
    transform: translateY(20px);
    transition: all 0.5s ease;
    opacity: 0.75;
}
